# Lab | Lambda Functions, Map, Reduce, Filter

---
I didn't finish the lab, I'll work on it over the weekend. ðŸ¤ž

---

Objective: The objective of this lab is to help students gain familiarity with using anonymous lambda functions and map, reduce, and filter methods in Python.

Lambda functions, map, reduce, and filter are all related to functional programming in Python.

**Lambda functions** are anonymous functions in Python, which means that they do not need to be defined with a name. They are typically used for short, one-line functions that are not going to be used elsewhere in the code.

Lambda functions can take any number of arguments, but they can only contain a single expression. They are often used in combination with other built-in functions like map, reduce, and filter to perform operations on lists or other iterables.

**Map** is a function that applies a given function to every element of a list, returning a new list with the transformed values. It's a useful way to apply the same operation to every element of a list, without having to write a for loop.

**Reduce** is a function that applies a given function to the first two elements of a list, then applies the same function to the result and the next element, and so on, until it has reduced the list to a single value. It's useful for performing cumulative operations like summing or multiplying a list of numbers.

**Filter** is a function that takes a function and a list, and returns a new list containing only the elements of the original list for which the function returns True. It's a useful way to selectively extract elements from a list based on a certain condition.

All of these concepts can be used to make your code more concise and expressive, especially when working with lists or other iterables. They are also useful in data manipulation tasks, such as cleaning and transforming data in a pandas DataFrame. By practicing with these concepts in the lab, you will gain a better understanding of how to use them in a variety of programming tasks.

## Challenge 1

In this Challenge we will use the following data, which is a list of bank transactions:

In [ ]:
transactions = [(-1200, 'debit'), (2500, 'credit'), (-100, 'debit'), (850, 'credit'), (-250, 'debit'), (1500, 'credit'), (-300, 'debit'), (5000, 'credit'), (-850, 'debit'), (1000, 'credit')]

### Exercise 1

Create a new list called credits that includes all of the debit transactions from the list transactions.

Use the filter() function to create a new list called debits.

In [ ]:
debits = list(filter((lambda transaction : transaction[1] == 'debit'), transactions))
debits

[(-1200, 'debit'),
 (-100, 'debit'),
 (-250, 'debit'),
 (-300, 'debit'),
 (-850, 'debit')]

### Exercise 2

Create a new list that includes all of the debit transactions from the list transactions, sorted in descending order by amount.

- Use the previously created debits list.
- Define a lambda function called sort_descending that takes two tuples and returns True if the transaction amount of the first tuple is greater than the transaction amount of the second tuple.
- Use the sorted() function with sort_descending and debits to create a new list.

In [ ]:
#TODO
#sort_decending = lambda x, y : True if x[0] > y[0] else False
sorted_debits = list(sorted(debits, reverse=True))
sorted_debits

[(-100, 'debit'),
 (-250, 'debit'),
 (-300, 'debit'),
 (-850, 'debit'),
 (-1200, 'debit')]

## Challenge 2:  Interest Calculation

### Exercise 1

Write Python code to take a list of bank account balances, and returns a new list containing the balance after one year of interest has been added. Use the map function to apply this function to the list of bank accounts, and take an interest rate of 0.05.

In [ ]:
# create list of bank account balances
balances = [100, 50, -25, 1000, -10]

In [ ]:
list(map(lambda x : x+(x*0.05), balances))

[105.0, 52.5, -26.25, 1050.0, -10.5]

### Exercise 2

Write Python code to take a list of bank account dictionaries, each containing the account balance and interest rate, and returns a new list of dictionaries containing the balance after one year of interest has been added. Use the map function to apply this function to the list of bank accounts.

In [ ]:
accounts = [
    {'balance': 1000, 'interest_rate': 0.02},
    {'balance': 2000, 'interest_rate': 0.01},
    {'balance': 500, 'interest_rate': 0.03},
]

1000

In [ ]:
new_list = list(map(lambda x : x['balance']+(x['balance']*x['interest_rate']),accounts))
new_list

[1020.0, 2020.0, 515.0]

## Challenge 3: Balance Reduction

### Exercise 1

Write Python code to take the new list of bank account balances (balances list after applying an interest_rate of 0.05, result of Challenge 1 Exercise 1), and print the total amount of negative balances. Use filter and reduce function.

In [ ]:
from functools import reduce

new_balance = reduce(lambda x, y : x+y, list(filter(lambda x : x[0] < 0, sorted_debits)))
new_balance

(-100, 'debit', -250, 'debit', -300, 'debit', -850, 'debit', -1200, 'debit')

### Exercise 2

Write a Python function called calculate_balance that takes a bank account dictionary as an argument and returns the remaining balance after subtracting all the withdrawals.

Then, use the map function and the calculate_balance function to apply it to the list accounts. This should give you a list of remaining balances after all the withdrawals have been subtracted.

In [ ]:
accounts = [
    {'balance': 1000, 'withdrawals': [100, 50, 200]},
    {'balance': 2000, 'withdrawals': [300, 100]},
    {'balance': 500, 'withdrawals': [50, 100, 75]},
]

# your code goes here